# Logs
*.log

# Runtime data
pids
*.pid*

# Cache folders
.cache

# VSCode
.vscode*
.idea
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln

# package directories/files
node_modules/

# OS Files
.DS_Store
.thumbs.db

# Thiago files
data-engineer-1/thiago_solution/teste.csv
data-engineer-1/thiago_solution/info.json
data-engineer-1/thiago_solution/testezarv